.topnav { 
    background-color: brown;
    height: 50px;
    width: auto;
}

.logo {
    display: inline-block;
    vertical-align: top;
    float: left;

}

.navlinks {
    display: inline-block;
    vertical-align: top;
    float: middle;
}

.icons {
    display: inline-block;
    vertical-align: top;
    float: right;
}